@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'OpenSans';
        src: local('OpenSans'), url('./fonts/OpenSans.ttf') format('truetype');
    }

    html {
        font-family: "OpenSans"
    }
}