@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'MaisonNeue';
        src: local('MaisonNeue-Thin'), url('./fonts/MaisonNeue-Thin.otf') format('opentype');
        font-weight: 100;
    }

    @font-face {
        font-family: 'MaisonNeue';
        src: local('MaisonNeue-Light'), url('./fonts/MaisonNeue-Light.otf') format('opentype');
        font-weight: 300;
    }

    @font-face {
        font-family: 'MaisonNeue';
        src: local('MaisonNeue-Book'), url('./fonts/MaisonNeue-Book.otf') format('opentype');
        font-weight: 400;
    }

    @font-face {
        font-family: 'MaisonNeue';
        src: local('MaisonNeue'), url('./fonts/MaisonNeue.otf') format('opentype');
        font-weight: 500;
    }

    @font-face {
        font-family: 'MaisonNeue';
        src: local('MaisonNeue-Bold'), url('./fonts/MaisonNeue-Bold.otf') format('opentype');
        font-weight: 700;
    }

    html {
        font-family: "MaisonNeue"
    }
}

@layer components {
    .sidebar {
        @apply -translate-x-40 w-56 h-screen absolute bg-slate-600 transition ease-in-out duration-300 hover:translate-x-0;
    }

    .button-primary {
        @apply transition ease-in-out duration-100 hover:-translate-y-1 hover:shadow-lg hover:shadow-green-primary rounded border border-transparent hover:border-white hover:bg-green-secondary hover:cursor-pointer hover:text-black
    }

    .loader {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: 5px solid #162534;
        border-top-color: #4bc8eb;
        border-bottom-color: #f12a8f;
        border-radius: 50%;
        @apply animate-rotate;
    }

    .loader-inner {
        border-top-color: @apply bg-green-primary;
        border-bottom-color: #fff;
        animation-duration: 2.5s;
    }
}
